/* CSS declarations go here */
/* Bodystuff */
body {
  font-family: sans-serif;
  background-color: #57ede2;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 2em;
  color: #32222f;
}

/* Containers */

.logo {
  background: #57ede2;
  color: #343a46;

  padding-top: 10%;
  position: absolute;
  top: 0;
  
  left: 0;
  right: 0;
  
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.buttonscontainer {
  background: white;
  position: absolute;
  width: 100%;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
}

.listcontainer {
  background: white;
  position: absolute;
  top: 10%;
  width: 100%;  
  text-align: center;
}

.testcontainer {
  background: white;
  padding-left: 10px;
  position: absolute;
  top: 10%;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.navigation {
  background: #57ede2;
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
  text-align: center;
}

.nav_head {
  padding-top: 3%;
}

.kana {
  font-size: 700%;
  padding-top: 3%;
}

.maru {
  font-size: 700%;
  padding-top: 3%;
  color: #00ff00;
}

.batsu {
  font-size: 700%;
  padding-top: 3%;
  color: #ff0000;
}

.testTable{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* Table */

table, td, tr {
  border: none;
  border-width: 0;
  border-collapse: collapse;
  width: 100%
}

td {
  width: 19%;
}

.kanalist {
  text-align: center;
  background: #32222f;
  color: #57ede2;
  height: 50px;
  font-size: 60%;
}

/* Buttons */

.mainbuttons {
  padding: 5% 0 5% 0;
  background: white;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50%;
  font-size: 110%;
  text-align: center;
  border: none;
  border-bottom: #e8e8e8 solid 5px;
  transition-duration: 0.4s; /* Little transition Animation Duration*/
}

.loginbutton {
  background: #57ede2;
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 75px;
  height: 75px;
  text-align: center;
  border: none;
  transition-duration: 0.4s;
}

.backbutton {
  background: #57ede2;
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
  border: none;
  display: inline-block;
}

.testbutton {
  font-size: 160%;
  width: 100%;
  height: 150px;
  border: none;
  background-color: #57ede2;
  top-margin: 70%;
}

button:hover, button:active{
  background: #32222f;
  color: #57ede2;
}

/* Images */

img.cat {
  width: 80%;
  height: auto;
}

img.menupic {
  width: 80%;
  height: auto;
}

img.backpic {
  width: 80%;
  height: auto;
}

@media screen and (width: 1080px) {
  /*CSS when screen width is max 1000px*/
}