<div class="navigation">
	<button ui-sref="home" class="backbutton"><img src="img/back.png" class="backpic" /></button>
	<div class="nav_head">Lernen</div>
</div>
<div class="listcontainer">
	Hiragana
	<table>
		<tr>
			<td>&#x3042</td>
			<td>&#x3044</td>
			<td>&#x3046</td>
			<td>&#x3048</td>
			<td>&#x304A</td>
		</tr>
		<tr class="kanalist">
			<td>A</td>
			<td>I</td>
			<td>U</td>
			<td>E</td>
			<td>O</td>
		</tr>
		<tr>
			<td>&#x304B</td>
			<td>&#x304D</td>
			<td>&#x304F</td>
			<td>&#x3051</td>
			<td>&#x3053</td>
		</tr>
		<tr class="kanalist">
			<td>Ka</td>
			<td>Ki</td>
			<td>Ku</td>
			<td>Ke</td>
			<td>Ko</td>
		</tr>
		<tr>
			<td>&#x3055</td>
			<td>&#x3057</td>
			<td>&#x3059</td>
			<td>&#x305B</td>
			<td>&#x305D</td>
		</tr>
		<tr class="kanalist">
			<td>Sa</td>
			<td>Shi</td>
			<td>Su</td>
			<td>Se</td>
			<td>So</td>
		</tr>
		<tr>
			<td>&#x305F</td>
			<td>&#x3061</td>
			<td>&#x3064</td>
			<td>&#x3066</td>
			<td>&#x3068</td>
		</tr>
		<tr class="kanalist">
			<td>Ta</td>
			<td>Chi</td>
			<td>Tsu</td>
			<td>Te</td>
			<td>To</td>
		</tr>
		<tr>
			<td>&#x306A</td>
			<td>&#x306B</td>
			<td>&#x306C</td>
			<td>&#x306D</td>
			<td>&#x306E</td>
		</tr>
		<tr class="kanalist">
			<td>Na</td>
			<td>Ni</td>
			<td>Nu</td>
			<td>Ne</td>
			<td>No</td>
		</tr>
		<tr>
			<td>&#x306F</td>
			<td>&#x3072</td>
			<td>&#x3075</td>
			<td>&#x3078</td>
			<td>&#x307B</td>
		</tr>
		<tr class="kanalist">
			<td>Ha</td>
			<td>Hi</td>
			<td>Fu</td>
			<td>He</td>
			<td>Ho</td>
		</tr>
		<tr>
			<td>&#x307E</td>
			<td>&#x307F</td>
			<td>&#x3080</td>
			<td>&#x3081</td>
			<td>&#x3082</td>
		</tr>
		<tr class="kanalist">
			<td>Ma</td>
			<td>Mi</td>
			<td>Mu</td>
			<td>Me</td>
			<td>Mo</td>
		</tr>
		<tr>
			<td>&#x3084</td>
			<td></td>
			<td>&#x3086</td>
			<td></td>
			<td>&#x3088</td>
		</tr>
		<tr>
			<td class="kanalist">Ya</td>
			<td></td>
			<td class="kanalist">Yu</td>
			<td></td>
			<td class="kanalist">Yo</td>
		</tr>
		<tr>
			<td>&#x3089</td>
			<td>&#x308A</td>
			<td>&#x308B</td>
			<td>&#x308C</td>
			<td>&#x308D</td>
		</tr>
		<tr class="kanalist">
			<td>Ra</td>
			<td>Ri</td>
			<td>Ru</td>
			<td>Re</td>
			<td>Ro</td>
		</tr>
		<tr>
			<td>&#x308F</td>
			<td></td>
			<td></td>
			<td></td>
			<td>&#x3092</td>
		</tr>
		<tr>
			<td class="kanalist">Wa</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="kanalist">(W)o</td>
		</tr>
		<tr>
			<td>&#x3093</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="kanalist">N</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table><br>
	Katakana
	<table>
		<tr>
			<td>&#x30A2</td>
			<td>&#x30A4</td>
			<td>&#x30A6</td>
			<td>&#x30A8</td>
			<td>&#x30AA</td>
		</tr>
		<tr class="kanalist">
			<td>A</td>
			<td>I</td>
			<td>U</td>
			<td>E</td>
			<td>O</td>
		</tr>
		<tr>
			<td>&#x30AB</td>
			<td>&#x30AD</td>
			<td>&#x30AF</td>
			<td>&#x30B1</td>
			<td>&#x30B3</td>
		</tr>
		<tr class="kanalist">
			<td>Ka</td>
			<td>Ki</td>
			<td>Ku</td>
			<td>Ke</td>
			<td>Ko</td>
		</tr>
		<tr>
			<td>&#x30B5</td>
			<td>&#x30B7</td>
			<td>&#x30B9</td>
			<td>&#x30BB</td>
			<td>&#x30BD</td>
		</tr>
		<tr class="kanalist">
			<td>Sa</td>
			<td>Shi</td>
			<td>Su</td>
			<td>Se</td>
			<td>So</td>
		</tr>
		<tr>
			<td>&#x30BF</td>
			<td>&#x30C1</td>
			<td>&#x30C4</td>
			<td>&#x30C6</td>
			<td>&#x30C8</td>
		</tr>
		<tr class="kanalist">
			<td>Ta</td>
			<td>Chi</td>
			<td>Tsu</td>
			<td>Te</td>
			<td>To</td>
		</tr>
		<tr>
			<td>&#x30CA</td>
			<td>&#x30CB</td>
			<td>&#x30CC</td>
			<td>&#x30CD</td>
			<td>&#x30CE</td>
		</tr>
		<tr class="kanalist">
			<td>Na</td>
			<td>Ni</td>
			<td>Nu</td>
			<td>Ne</td>
			<td>No</td>
		</tr>
		<tr>
			<td>&#x30CF</td>
			<td>&#x30D2</td>
			<td>&#x30D5</td>
			<td>&#x30D8</td>
			<td>&#x30DB</td>
		</tr>
		<tr class="kanalist">
			<td>Ha</td>
			<td>Hi</td>
			<td>Fu</td>
			<td>He</td>
			<td>Ho</td>
		</tr>
		<tr>
			<td>&#x30DE</td>
			<td>&#x30DF</td>
			<td>&#x30E0</td>
			<td>&#x30E1</td>
			<td>&#x30E2</td>
		</tr>
		<tr class="kanalist">
			<td>Ma</td>
			<td>Mi</td>
			<td>Mu</td>
			<td>Me</td>
			<td>Mo</td>
		</tr>
		<tr>
			<td>&#x30E4</td>
			<td></td>
			<td>&#x30E6</td>
			<td></td>
			<td>&#x30E8</td>
		</tr>
		<tr>
			<td class="kanalist">Ya</td>
			<td></td>
			<td class="kanalist">Yu</td>
			<td></td>
			<td class="kanalist">Yo</td>
		</tr>
		<tr>
			<td>&#x30E9</td>
			<td>&#x30EA</td>
			<td>&#x30EB</td>
			<td>&#x30EC</td>
			<td>&#x30ED</td>
		</tr>
		<tr class="kanalist">
			<td>Ra</td>
			<td>Ri</td>
			<td>Ru</td>
			<td>Re</td>
			<td>Ro</td>
		</tr>
		<tr>
			<td>&#x30EF</td>
			<td></td>
			<td></td>
			<td></td>
			<td>&#x30F2</td>
		</tr>
		<tr>
			<td class="kanalist">Wa</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="kanalist">(W)o</td>
		</tr>
		<tr>
			<td>&#x30F3</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="kanalist">N</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>